<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.bylinsoftware.lurk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity
            android:name=".NaviActivity"
            android:label="@string/title_activity_navi"
            android:theme="@style/AppTheme.NoActionBar"></activity>-->
        <activity android:name=".SavedArticleActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".TocActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="lurkmore.to"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>